/* Color Vars */
$lightCream: #f2f3ee;
$orange: #d17f38;
$yellow: #e8c04f;
$brown: #4b2707;

$containerWidth: 500px;

/* General */
body {
  background: $lightCream url("/images/bg-tile.gif") top left repeat;
  color: $brown;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Typography */

/* Header */

/* Hero */

/* The Whole Story */

/* News & Events */

/* MISC */

.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

* html .group {
  zoom: 1;
}

*:first-child + html .group {
  zoom: 1;
}
