.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
}

.header {
    height: 7rem;
    border-bottom: 1px solid var(--color-grey-light-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
    // min-height: 80rem; // Test, remove later
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-line-grey);
}

.description {
    background-color: white;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    box-shadow: var(--shadow-light);
    font-size: 1.4rem;
}





/* User reviews on right side */
.user-reviews {
    background-color: yellowgreen;
    flex: 1;
}