.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -10vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: -12vh;
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0; }

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7; }
