* {
  margin: 0;
  padding: 0; }
  *::before, *::after {
    box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  margin: 10px auto;
  width: 80%;
  min-height: 90vh;
  display: grid;
  grid-template-rows: [header-start] 100px repeat(3, 1fr) 100px;
  grid-template-columns: repeat(3, 1fr) 300px;
  gap: 30px; }
  .container > * {
    background-color: royalblue;
    color: white;
    font-size: 30px;
    font-family: sans-serif; }

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 5; }

.small-box {
  grid-row: 2 / 3; }

.small-box-1 {
  grid-column: 1 / 2; }

.small-box-2 {
  grid-column: 2 / 3; }

.small-box-3 {
  grid-column: 3 / 4; }

.content {
  grid-row: 3 / span 2;
  grid-column: 1 / span 3; }

.sidebar {
  grid-column: 4 / 5;
  grid-row: 2 / span 3; }

.footer {
  grid-row: 5 / 6;
  grid-column: 1 / -1; }
